body::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: #1b1b32;
    background-image: linear-gradient(115deg,
        rgba(58, 58, 158, 0.8),
        rgba(136, 136, 206, 0.7)),
    url(survey-form-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.4;
    color: white;
    margin: 0 40;
    padding-top: 40px;
}

form {
    background: rgba(27, 27, 50, 0.8);
    padding: 2.5rem 0.625rem;
    border-radius: 0.25rem;
    margin: 0 auto;
    width: 70vw;
    max-width: 700px;
    min-width: 500px;
    
  }

  h1, p {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  h1{
    font-weight: 400;
    line-height: 1.2;
  }

.container{
    text-align: center;
}

.form-divide{
    align-items: center;
    padding: 1.25rem;
}
label{
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}
#description{
    font-style: italic;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.input-control{
    display: block;
    width: 100%;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    box-sizing: border-box;
}

.form-divide{
    margin: 0 auto 30px auto;
    padding: 0.25rem;
}
.input-radio{
    display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

.input-checkbox {
    display: inline-block;
    margin-right: 0.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
  }

  .input-textarea {
    min-height: 120px;
    width: 100%;
    padding: 0.625rem;
    resize: vertical;
    box-sizing: border-box;
  }

  input, button, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  .submit-button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background: green;
    color: inherit;
    border-radius: 2px;
    cursor: pointer;
  }

  button {
    border: none;
  }

  .clue {
    margin-left: 0.25rem;
    font-size: 0.9rem;
    color: #e4e4e4;
  }

  #survey-form{
    padding-left: 40px;
    padding-right: 40px;
  }